# Server Environment Variables
PORT=5000
MONGODB_URI=mongodb://localhost:27017/dcl_website
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000
mongodb+srv://victorako7204:James337204@cluster0.zecwwdy.mongodb.net/?appName=Cluster0